.generator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#generate {
  width: 20%;
  height: 50px;
  font-size: 35px;
}

body {
  background-color: rgb(255, 255, 255);
}

#genPhrase {
  background-color: white;
  text-align: center;
  font-size: 35px;
  margin: 10% auto;
  background-color: aqua;
  transition: 1s;
}

.footer {
  text-align: center;
}
